

#menu-open {
  font-size: 35px;
  cursor: pointer;
  margin: 2% -80px;
}

#nav-menu {
  background-color: #8a2be2;
  width: 200px;
  border-radius: 0 8px 8px 0;
  position: absolute;
  z-index: 2;
  top: -100%;
  height: 100vh;
  transition: all 0.4s;
  box-shadow: 10px -5px 13px #0000006c;

  #menu-close {
    font-size: 35px;
    cursor: pointer;
    margin: 15% 10%;
    color: #fff;
  }

  #menu-items {
    a {
      color: white;
      font-weight: 500;
      font-family: system-ui, sans-serif;
      text-decoration: none;
      margin: 10px 0;
      padding: 8px;
      display: flex;
      justify-content: center;
      transition: all 0.3s;
    }
  }

  a:hover {
    background: #904bff;
  }

  #linkedin,
  #instagram,
  #github {
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }

  #linkedin:hover,
  #instagram:hover,
  #github:hover {
    color: #d8b6fc;
  }
}